*.pyc

# This should be checked into version control in general, as noted here:
# http://www.sublimetext.com/docs/2/projects.html
# However, I don't think it belongs in ROS packages so I'm ignoring mine.
*.sublime-project